.jumbo-blog {
  /*
  position: absolute;
  top: 175px;
  right: 0;
  */
  width: 360px;
  background: #f1f3f2 url('wedge.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 10px;
}
