@font-face {
    font-family: 'burst_my_bubbleregular';
    src: url('../fonts/burstmybubble-webfont.eot');
    src: url('../fonts/burstmybubble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/burstmybubble-webfont.woff2') format('woff2'),
         url('../fonts/burstmybubble-webfont.woff') format('woff'),
         url('../fonts/burstmybubble-webfont.ttf') format('truetype'),
         url('../fonts/burstmybubble-webfont.svg#burst_my_bubbleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'primerprint';
    src: url('../fonts/primer_print-webfont.eot');
    src: url('../fonts/primer_print-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/primer_print-webfont.woff2') format('woff2'),
         url('../fonts/primer_print-webfont.woff') format('woff'),
         url('../fonts/primer_print-webfont.ttf') format('truetype'),
         url('../fonts/primer_print-webfont.svg#primerprint') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  padding-top: 15px;
}

/*
 * Main Wrappers
 */

.body-wrapper {
  margin: 0 0 0 160px;
}

.sidebar-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 130px;
  height: 5000px;
}

/*
 * Regions
 */

.header-region {
  margin: 15px 15px 0 0px;
}

.main-region {

}

.sidebar-region {
  height: 5000px;
  padding: 30px 15px 0;
  font-family: primerprint, Arial, sans-serif;
  font-size: 20px;
  background: #EEE;
  text-align: center;
}

/*
 * Menu
 */

.menu .menu-item {
  margin-bottom: 40px;
}

.menu .icon {
  font-size: 40px;
  clear: both;
}
