
.statement {
  font-family: primerprint, Arial, sans-serif;
  font-size: 3em;
}

@media screen and (max-width: 992px) {
  .statement {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 768px) {
  .statement {
    font-size: 2em;
  }
}
